html {
/*   background-color: rgb(171, 184, 149); */
background-color: black;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto 0 auto;
  }
  
  header {
      position: fixed;
      background-color: white;
      z-index: 10;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .body-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  
  .photo-one {
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0px 0px 51px -2px rgba(62, 76, 88, 0.75);
  } 
   
  .emt-logo {
    width: 100px;
  }
   
  .logo-one {
      font-family: 'Permanent Marker', cursive;
      font-size: 50px;
      color: #818181;
      width: 100%;
      text-align: center;
  }
  
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: #ffffff;
    z-index: 2;
    height: 300px;
    background-color: black;
  }
  
  .foelg-os {
    font-family: 'Permanent Marker', cursive;
    color: coral;
    margin: 0 0 0 10px;
  }

  .footer-copy-right {
    font-size: small;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
  
  .footer-name {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: coral;
  }
  
    
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
      padding-bottom: 88px;
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
  
    p {
      font-family: 'Lato', sans-serif; 
      font-size: 15px; 
    }

    .ul-section {
     
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 65px;
    }
  
    .somelogo {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      font-size: 50px;
      margin-left: auto;
    }
  
    .somelogo__fb {
      text-decoration: none;
      color: #818181;
    }
    .somelogo__insta {
      text-decoration: none;
      color: #818181;
    }
  
  @media screen and (max-width: 768px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }

  }

  @media screen and (min-width: 769px){
    .menu-desktop {
    position: fixed;
    background-color: white;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
  
    }

    @media screen and (max-width: 1099px){
      .header-intial {
        display: none;
        }

        .photo-one {
          width: 375px;
          box-sizing: border-box;
          box-shadow: 0px 0px 51px -2px rgba(62, 76, 88, 0.75);
        } 
         
    }
  
    @media screen and (min-width: 1100px){
  
      .header-intial {
        margin: 0;
        font-size: 75px;
        color: coral;
        font-family: auto;
        text-shadow: 2px 2px 8px rgb(171, 184, 149) ;
      }
    }
  
  
  
  
  
  
  