footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 30px;
    width: 100%;
    color: #ffffff;
    z-index: 20;
    height: 300px;
    width: 100%;
    background-color: black;
    margin: 10px 0;
  }

  .foelg-os{
    font-family: 'Permanent Marker', cursive;
    color: coral;
    margin: 0 0 0 10px;
  }

  .footer-copy-right {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-size: 12px;
    color: #818181;
  }

  .footer-name {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: coral;
  }
  