 html{
  padding: 0;
  max-width: 100%;
  /* background-color: rgb(171, 184, 149); */
  background-color: black;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;  
}

/* .body-wrapper {
  width: 100%;
}
 */

 main {
  padding-top: 155px;
}

/* .fas {
    font-size: 50px;
} */

.photo-one {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 51px -2px rgba(62, 76, 88, 0.75);
}
 
.opv-img {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 51px -2px rgba(62, 76, 88, 0.75);
}

.map-img {
  margin: 55px 0 55px 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 51px -2px rgba(62, 76, 88, 0.75);
}




.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 header {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}


/* .info-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 */

.fas {
  font-size: 150px;
  color: coral;
  
}

.sign-up-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 
h3 {
  font-size: 40px;
}
 */

.info-text {
  font-family: 'Lato', sans-serif;
  color: #818181;
  font-size: 30px;
 
}

.emt-logo {
  width: 100px;
}

/* .emt-logo-footer {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 150px;
  display: flex;
  justify-self: end;
  align-self: flex-end;
} */

.logo-one {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #818181;
    width: 100%;
    text-align: center;
}

/* .logo-one-logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 8px #818181;
    width: 100%;
    text-align: center;
} */

.logo-two {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  width: 100%;
  color: #818181;
  text-align: center;
}

.logo-three {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  width: 100%;
  color: #818181;
  text-align: center;
}

.section-one-wrapper {
    width: 95%;
    margin: auto; 
    opacity: 0.8;
    color: #818181;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
 
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0 3%;
  color: #ffffff;
  z-index: 20;
  height: 300px;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
}

.foelg-os {
  font-family: 'Permanent Marker', cursive;
  color: coral;
  margin: 0 0 0 10px;
}

.footer-copy-right {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  font-size: 12px;
  color: #818181;
}

.footer-name {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: coral;
}

  
  .overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    opacity: 0;
  }

  .visible {
    opacity: 1;
    transition: all 300ms ease;
    transition-delay: 0.3s;
   
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  p {
    font-family: 'Lato', sans-serif; 
    font-size: 25px; 
  }

  .somelogo {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-size: 50px;
    margin: auto;
  }

  .somelogo__fb {
    text-decoration: none;
    color: #818181; 
  }
  .somelogo__insta {
    text-decoration: none;
    color: #818181;
  }
  
  .main-rightwrapper__sign-up-wrapper {
    grid-column: 2 / 3;
    width: 100%;
    background-color: white;
    margin-left: inherit;
    margin-top: 50px;
    box-sizing: border-box;
}

.main-rightwrapper__sign-up-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
   /*  margin-left: 285px; */
    padding-bottom: 30px;
}

.main-rightwrapper__input-container {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 51px -2px rgba(62, 76, 88, 0.75);
    -moz-box-shadow: 0px 0px 51px -2px rgba(62, 76, 88, 0.75);
    box-shadow: 0px 0px 51px -2px rgba(62, 76, 88, 0.75);
}

.main-rightwrapper__input {
    margin-bottom: 25px;
    height: 55px;
    background-color: #f2f2f2;
    border: none;
}

.main-rightwrapper__btn {
    height: 45px;
    border-radius: 80px;
    background-color: rgb(45, 194, 45);
    color: white;
    border-color: rgb(45, 194, 45);
    border-style: solid;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.swiper-container {
  width: 600px;
  height: 300px;
}


.menu-desktop {
  display: none;
}

/* 
 .overlay {
  display: none;
}  */

  @media screen and (max-width: 768px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }

  
  }

  @media screen and (min-width: 769px){
  .menu-desktop {
  position: fixed;
  background-color: white;
  z-index: 10;
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}



  }

  @media screen and (max-width: 1099px){
    .header-intial {
      display: none;
      }
  }

  @media screen and (min-width: 1100px){

    .header-intial {
      margin: 0;
      font-size: 75px;
      color: coral;
      font-family: auto;
      transition: 0.2s;
     
     /*  text-shadow: 2px 2px 8px rgb(171, 184, 149) ; */
    }
  }

  @media screen and (min-width: 376px){
    .mapouter .gmap_canvas {
      max-width: 100%;
    }

    .map-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }





